<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/Jp/Jpfaq/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">

    <f:if condition="{showSearchForm}">
        <f:render partial="SearchForm" arguments="{showNumberOfResults: showNumberOfResults, uid: currentUid}"/>
    </f:if>
    <div class="d-flex flex-column flex-md-row">
        <div class="me-auto">
            <h2 class="jpfaqCategory" itemprop="about">
                <f:for each="{categories}" as="category">{category.category}<br/></f:for>
            </h2>
        </div>
        <div class="d-flex flex-row justify-content-end">
            <button type="button" class="jpfaq-action btn btn-link" data-action="show">
                <f:translate key="jpfaq_showAll"/>
            </button>
            <button type="button" class="jpfaq-action btn btn-link" data-action="collapse">
                <f:translate key="jpfaq_hideAll"/>
            </button>
        </div>
    </div>


    <ul class="jpfaq-list accordion">
        <f:for each="{questions}" as="question">

            <n:excludeAlreadyDisplayedQuestions question="{question}"/>
            <f:render partial="Question/Question" arguments="{_all}"/>
        </f:for>
    </ul>

    <f:if condition="{showCategoriesCommentForm}">
        <f:render partial="Categorycomment/LoadCommentFormLink" arguments="{currentUid: currentUid, restrictToCategories: restrictToCategories}"/>
    </f:if>
</f:section>
</html>
